*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 100vh;
    font-family: 'Overpass', sans-serif;
}

.side-bar{
    background-image: url(../images/bg-main-desktop.png);
    height: inherit;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: #ffffff;
}

.side-bar img{
    width: 320px;
}

.side-bar .card-front{
    position: absolute;
    top: 120px;
    left: 120px;
}

.side-bar .card-back{
    position: absolute;
    bottom: 120px;
    left: 210px;
}

.form{
    display: grid;
    height: inherit;
    place-items: center;
}


.form-container{
    padding: 3rem 2.5rem;
    /* border-radius: 8px; */
    width: 400px;
}

.form-control{
    margin-bottom: 1rem;
    width: 100%;
}

.form-control label{
    display: inline-block;
    font-size: 0.8rem;
}

.form-control input{
    display: block;
    border-radius: 4px;
    border: 1px solid hsl(0, 0%, 81%);
    padding: 0.5rem 0.8rem;
    width: 100%;
    margin: 0.3rem 0;
}

.form-control input::placeholder{
    color: hsl(0, 0%, 81%);
}

.form-control small{
    display: none;
    font-size: 0.7rem;
}

.form-control .exp-date{
    display: flex;
    gap: 8px;
}

.form-container .more-details{
    display: flex;
    gap: 16px;
    width: 100%;
}

.more-details .form-control {
    width: 50%;
}

/* .exp-date input{
    width: 50%
} */

.content{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 1.2rem;
}

.content h5{
    margin-top: 1.2rem;
    font-size: 1.4rem;
    font-weight: 300;
}

.card-back p{
    position: absolute;
    left: 255px;
    top: 43%;
}

.content .card-details{
    display: flex;
    margin-top: 1rem;
    justify-content: space-between;
    width: inherit;
}
.card-details p{
    font-size: 0.8rem;
    font-weight: 300 ;
}


.cta-btn{
    display: block;
    font-size: 1rem;
    margin-top: 1rem;
    background-color: hsl(278, 68%, 11%);
    color: #ffffff;
    padding: 0.8rem 0;
    width: 100%;
    text-align: center;
    border-radius: 4px;
}


.complete-state{
    display: none;
    height: inherit;
    place-items: center;
}

.container{
    padding: 3rem 2.5rem;
    text-align: center;
    width: 400px;
}

.container h1{
    margin-top: 1rem;
}

.container p{
    margin-top: 1rem;
    margin-bottom: 2.5rem;
    font-weight: 400;
    font-size: 0.9rem;
}